<section id="container">
    <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header" style="border-bottom: 9px solid #3f4d96; background-color: #9E9E9E;">
        <a href="home.html" class="logo"><img alt="logo" src="assets/img/qds-logo.png"></a>
        <a href="#" class="logo1"><b>Query Data Systems</b><br><b>Data Enabled Decisions</b></a>
        <!-- <a href="#" class="logo1"><b>Welcome , Rajesh Sharma</b></a> -->
        <!-- <div class="nav notify-row" id="top_menu">
            
            <ul class="nav top-menu">
                
                <li style="margin-right: 15px; color: #fff; font-size: 15px;">Last Login: DD/MM/YYYY</li>
      
      <li style="margin-right: 15px; color: #fff; font-size: 15px;">Last Data Upload: DD/MM/YY</li>
      
      <li style="margin-right: 15px; color: #fff; font-size: 15px;">Last  Payment: DD/MM/YY</li>
               
            </ul>
             
        </div> -->

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="index.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <br><br><br>
    <section id="main">
        <section class="wrapper site-min-height" id="wrapperid">
            <!-- SIMPLE ALL SERVICE LIST -->
            <div class="row mt">
                <!-- background-image: url(assets/img/login-bg1.jpg); -->
                <div class="col-md-12">

                    <div class="row">
                        <!-- Request Access -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-user" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h4 class="mt" style="margin-left: 30px;">Onboard new user</h4><br><br>
                                <button class="btn btn-small btn-theme03" data-toggle="modal" href="newUser.html#newUser" (click)="getInactiveRequestedUsers()">New User</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->
                        <!-- Forgot UN/PW -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-bars" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h4 class="mt" style="margin-left: 40px;">Add/Delete Services</h4><br><br>
                                <button class="btn btn-small btn-theme03" data-toggle="modal" href="addService.html#addService">Existing User</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->
                        <!-- Service History -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-times" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h4 class="mt" style="margin-left: 40px;">Disable/Enable</h4><br><br>
                                <button class="btn btn-small btn-theme03" data-toggle="modal" href="userDisable.html#userDisable">User</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->
                        <!-- Privacy Policy -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-upload" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h3 class="mt" style="margin-left: 50px;">Upload Data</h3><br><br>
                                <button class="btn btn-small btn-theme03" data-toggle="modal" href="userDisable.html#uploadData">Upload</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->

                    </div>

                    <div class="row">
                        <!-- Request Access -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-file-text" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h3 class="mt" style="margin-left: 50px;">Request Access</h3><br><br>
                                <button class="btn btn-small btn-theme04">FULL REPORT</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->
                        <!-- Forgot UN/PW -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-file-text" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h3 class="mt" style="margin-left: 50px;">Forgot UN/PW</h3><br><br>
                                <button class="btn btn-small btn-theme04">FULL REPORT</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->
                        <!-- Service History -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-file-text" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h3 class="mt" style="margin-left: 50px;">User Data </h3><br><br>
                                <button class="btn btn-small btn-theme04">FULL REPORT</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->
                        <!-- Privacy Policy -->
                        <div class="col-lg-3 col-md-4 col-sm-4 mb">
                            <div class="product-panel-2 pn" style="background: #fff;">
                                <div class="badge badge-hot" style="background: #03A9F4;"><i class="fa fa-question" style="font-size: 34px;" aria-hidden="true"></i></div><br>
                                <h3 class="mt" style="margin-left: 50px;">Query</h3><br><br>
                                <button class="btn btn-small btn-theme04">FULL REPORT</button>
                            </div>
                        </div>
                        <!-- /col-md-3 -->

                    </div>



                    <!-- Modal New User-->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="newUser" class="modal fade">
                        <div class="modal-dialog">
                            <form [formGroup]="adduser" (ngSubmit)="addUserFormSubmit(adduser)">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Onboard New User</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Please Select User</p>
                                        <select class="form-control" formControlName="uid">
                                        <option  *ngFor="let user of inactiveRequestedUser" value="{{user.uid}}">{{user.uid}}</option>
                                    </select><br>
                                        <p>Create QueryID for User Login </p>
                                        <input type="text" name="queryId" placeholder="Create QueryID" autocomplete="off" class="form-control placeholder-no-fix" formControlName="uqueryid"><br>
                                        <p>Create Password for User Login </p>
                                        <input type="text" name="password" placeholder="Create Password" autocomplete="off" class="form-control placeholder-no-fix" formControlName="upassword"><br>
                                        <p>Please checks service :</p>
                                        <ng-select [multiple]="true" [allowClear]="true" [items]="items" (selected)="selected($event)" (removed)="removed($event)" placeholder="Service Selected">
                                        </ng-select>
                                        <!-- <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="datasupport">Data Support
                                    </label>
                                        <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="mis">MIS
                                    </label>
                                        <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="analytics">Analytics
                                    </label>
                                        <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="mr">MR
                                    </label> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                        <button class="btn btn-theme" type="submit" [disabled]="!adduser.valid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- .end Modal New User-->

                    <!-- Modal Add/Delete Services-->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addService" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Add/Delete Services</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Please Select User :</p>
                                    <select class="form-control">
                  <option value="1">QDS - 1</option>
                  <option value="2">QDS - 2</option>
                  <option value="3">QDS - 3</option>
                  <option value="4">QDS - 4</option>
              </select><br>
                                    <p>Please Select Add & Delete Service :</p>
                                    <select class="form-control">
                  <option value="addService">Add Service</option>
                  <option value="deleteService">Delete Service</option>
              </select>
                                    <br>
                                    <p>Please checks service :</p>
                                    <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1">Data Support
              </label>
                                    <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2">MIS
              </label>
                                    <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3">Analytics
              </label>
                                    <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option4">MR
              </label>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                    <button class="btn btn-theme" type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .end Modal Add/Delete Services -->


                    <!-- Modal Add/Delete Services-->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="userDisable" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Add/Delete Services</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Please Select User :</p>
                                    <select class="form-control">
                  <option value="1">QDS - 1</option>
                  <option value="2">QDS - 2</option>
                  <option value="3">QDS - 3</option>
                  <option value="4">QDS - 4</option>
              </select><br>
                                    <p>Please Select Disable/Enable Users :</p>
                                    <select class="form-control">
                  <option value="addService">Disable</option>
                  <option value="deleteService">Enable</option>
              </select>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                    <button class="btn btn-theme" type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .end Modal Add/Delete Services -->


                    <!-- Modal Add/Delete Services-->
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="uploadData" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Upload general/specific data</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Please Select User :</p>
                                    <select class="form-control">
                  <option value="1">QDS - 1</option>
                  <option value="2">QDS - 2</option>
                  <option value="3">QDS - 3</option>
                  <option value="4">QDS - 4</option>
              </select><br>
                                    <p>Please Upload general info by ZIP :</p>
                                    <input type="file" name="file" accept='.zip' class="form-control placeholder-no-fix"><br>
                                    <p>Please Upload User Specific data by ZIP :</p>
                                    <input type="file" name="file" accept='.zip' class="form-control placeholder-no-fix"><br>
                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                    <button class="btn btn-theme" type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .end Modal Add/Delete Services -->


                </div>
            </div>

        </section>
    </section>

    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2018 - Query Data Systems
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>