<div id="login-page">
  <div class="container">

  <form class="form-login" [formGroup]="requestAccesss"  (ngSubmit)="requestAccesssSubmit(requestAccesss)">
    <h2 class="form-login-heading" style="background: #27c24c ;">Request Access</h2>
    <div class="login-wrap">
      <input type="text" class="form-control" placeholder="Name" autofocus formControlName="uname">
      <div class="error" *ngIf="requestAccesss.controls['uname'].hasError('required') && requestAccesss.controls['uname'].touched">Name is required</div>
      <br>
      <input type="email" class="form-control" placeholder="Email ID" formControlName="uemailid" >
      <div class="error" *ngIf="requestAccesss.controls['uemailid'].hasError('required') && requestAccesss.controls['uemailid'].touched">Email is required</div>
      <div class="error" *ngIf="requestAccesss.controls['uemailid'].hasError('pattern')">Enter a Valid Email</div>
      <br>
      <input type="text" class="form-control" placeholder="Contact Number" formControlName="umobilenumber" >
      <div class="error" *ngIf="requestAccesss.controls['umobilenumber'].hasError('required') && requestAccesss.controls['umobilenumber'].touched">Mobile Number is required</div>
      <br>
      <button class="btn btn-theme btn-block" style="background-color: #27c24c; border-color: #27c24c;" type="submit" [disabled]="!requestAccesss.valid"><i class="fa fa-lock"></i> Submit</button>
      <br>
      <label class="checkbox">
        <span class="pull-left">
                    <a [routerLink]="['/']" style="font-size:14px;">Login</a>
                </span>
                <span class="pull-right">
                    <a [routerLink]="['/forgot']" style="font-size:14px;">Forgot Userneme/Password</a>
                </span>
            </label>
    </div>			  
  </form>
  </div>
</div>